doctype
html
    head
        link(href="/img/favicon.png", rel="shortcut icon")
        link(rel="stylesheet", href="/styles/bootstrap.css")
        link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/styles/site.css")
        title Came To Believe
    body(ng-app='app')
        block main-content
        include scripts
