mixin deleteModal(submit, title, body)
    div(id="delete-modal" class="modal fade" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") &times;
                    h4(class="modal-title")= title
                div(class="modal-body")
                    p= body
                div(class="modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type="button" class="btn btn-primary" ng-click=`${submit}`) Delete