h3 Gallery

div(ng-show="items.length === 0")
    h4 No Photo Albums

div(ng-repeat="item in items")            
    div(class="col-sm-6 col-xs-12")
        div(class="well album-well")
            div(class="tile-image-wrapper")
                img(src="{{item.coverPhotoPath}}" class="tile-image album-image")
            h4(class="album-title") {{item.title}}
                p
            a(class="btn btn-primary center-block album-button" href="gallery/{{item.url}}") View Album

div(class="clearfix")
